In [76]:
import pandas as pd 
import matplotlib.pyplot as plt

In [77]:
data = pd.read_csv(r'C:\Users\ADMIN\Desktop\projects\Airline+Loyalty+Program\Customer Loyalty History.csv')

In [78]:
data_copy = data.copy()

In [79]:
data_copy.columns = data_copy.columns.str.replace(' ','_').str.lower()
data_copy.head(10)

,loyalty_number,country,province,city,postal_code,gender,education,salary,marital_status,loyalty_card,clv,enrollment_type,enrollment_year,enrollment_month,cancellation_year,cancellation_month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,NaN,Single,Star,3839.75,Standard,2014,7,2018.0,1.0
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,NaN,Single,Star,3839.75,Standard,2013,2,NaN,NaN
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN
5,193662,Canada,Yukon,Whitehorse,Y2K 6R0,Male,Bachelor,51124.0,Married,Star,3844.57,Standard,2012,5,NaN,NaN
6,927943,Canada,Ontario,Toronto,P5S 6R4,Female,College,NaN,Single,Star,3857.95,Standard,2014,6,NaN,NaN
7,188893,Canada,Ontario,Trenton,K8V 4B2,Male,Bachelor,100159.0,Married,Star,3861.49,Standard,2016,12,NaN,NaN
8,852392,Canada,Quebec,Montreal,H2Y 2W2,Female,Bachelor,100159.0,Married,Star,3861.49,Standard,2015,5,NaN,NaN
9,866307,Canada,Ontario,Toronto,M8Y 4K8,Male,Bachelor,100159.0,Married,Star,3861.49,Standard,2016,10,NaN,NaN

In [80]:
data_copy.dtypes

loyalty_number          int64
country                object
province               object
city                   object
postal_code            object
gender                 object
education              object
salary                float64
marital_status         object
loyalty_card           object
clv                   float64
enrollment_type        object
enrollment_year         int64
enrollment_month        int64
cancellation_year     float64
cancellation_month    float64
dtype: object

In [81]:
data_copy.isnull().sum()

loyalty_number            0
country                   0
province                  0
city                      0
postal_code               0
gender                    0
education                 0
salary                 4238
marital_status            0
loyalty_card              0
clv                       0
enrollment_type           0
enrollment_year           0
enrollment_month          0
cancellation_year     14670
cancellation_month    14670
dtype: int64

In [82]:
data_copy.shape

(16737, 16)

In [83]:
data_copy['salary'] = data_copy['salary'].fillna(data_copy['salary'].mean())

In [84]:
data_copy

,loyalty_number,country,province,city,postal_code,gender,education,salary,marital_status,loyalty_card,clv,enrollment_type,enrollment_year,enrollment_month,cancellation_year,cancellation_month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.000000,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,79245.609409,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,79245.609409,Single,Star,3839.75,Standard,2014,7,2018.0,1.0
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,79245.609409,Single,Star,3839.75,Standard,2013,2,NaN,NaN
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.000000,Married,Star,3842.79,Standard,2014,10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16732,823768,Canada,British Columbia,Vancouver,V6E 3Z3,Female,College,79245.609409,Married,Star,61850.19,Standard,2012,12,NaN,NaN
16733,680886,Canada,Saskatchewan,Regina,S1J 3C5,Female,Bachelor,89210.000000,Married,Star,67907.27,Standard,2014,9,NaN,NaN
16734,776187,Canada,British Columbia,Vancouver,V5R 1W3,Male,College,79245.609409,Single,Star,74228.52,Standard,2014,3,NaN,NaN
16735,906428,Canada,Yukon,Whitehorse,Y2K 6R0,Male,Bachelor,-57297.000000,Married,Star,10018.66,2018 Promotion,2018,4,NaN,NaN
16736,652627,Canada,Manitoba,Winnipeg,R2C 0M5,Female,Bachelor,75049.000000,Married,Star,83325.38,Standard,2015,12,2016.0,8.0

In [85]:

data_copy['salary'] = data_copy['salary'].apply(lambda x : round(x,2))

In [86]:
data_copy['salary'] = data_copy['salary'].astype(str).str.replace("-","").astype(float)

In [87]:
data_copy['salary'].dtype

dtype('float64')

In [88]:
data_copy['country'].unique()

array(['Canada'], dtype=object)

In [89]:
data_copy.columns

Index(['loyalty_number', 'country', 'province', 'city', 'postal_code',
       'gender', 'education', 'salary', 'marital_status', 'loyalty_card',
       'clv', 'enrollment_type', 'enrollment_year', 'enrollment_month',
       'cancellation_year', 'cancellation_month'],
      dtype='object')

In [90]:
data_copy['province'].unique()

array(['Ontario', 'Alberta', 'British Columbia', 'Quebec', 'Yukon',
       'New Brunswick', 'Manitoba', 'Nova Scotia', 'Saskatchewan',
       'Newfoundland', 'Prince Edward Island'], dtype=object)

In [91]:
data_copy['city'].unique()

array(['Toronto', 'Edmonton', 'Vancouver', 'Hull', 'Whitehorse',
       'Trenton', 'Montreal', 'Dawson Creek', 'Quebec City',
       'Fredericton', 'Ottawa', 'Tremblant', 'Calgary', 'Thunder Bay',
       'Whistler', 'Peace River', 'Winnipeg', 'Sudbury', 'West Vancouver',
       'Halifax', 'London', 'Regina', 'Kelowna', "St. John's", 'Victoria',
       'Kingston', 'Banff', 'Moncton', 'Charlottetown'], dtype=object)

In [92]:
data_copy['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [93]:
data_copy['marital_status'].unique()

array(['Married', 'Divorced', 'Single'], dtype=object)

In [94]:
data_copy['enrollment_type'].unique()

array(['Standard', '2018 Promotion'], dtype=object)

In [103]:

data_copy['cancellation_month'] = data_copy['cancellation_month'].fillna(0)
data_copy['cancellation_year'] = data_copy['cancellation_year'].fillna(0)

In [96]:
data_copy.isnull().sum()

loyalty_number            0
country                   0
province                  0
city                      0
postal_code               0
gender                    0
education                 0
salary                    0
marital_status            0
loyalty_card              0
clv                       0
enrollment_type           0
enrollment_year           0
enrollment_month          0
cancellation_year     14670
cancellation_month    14670
dtype: int64

In [97]:
data_copy['loyalty_card'].unique()

array(['Star', 'Aurora', 'Nova'], dtype=object)

In [98]:
data_copy['education'].unique()

array(['Bachelor', 'College', 'Master', 'High School or Below', 'Doctor'],
      dtype=object)

In [99]:
data_copy['enrollment_year'].unique()

array([2016, 2014, 2013, 2012, 2015, 2018, 2017], dtype=int64)

In [100]:
data_copy['enrollment_month'].unique()

array([ 2,  3,  7, 10,  5,  6, 12,  1, 11,  8,  4,  9], dtype=int64)

In [104]:
data_copy['cancellation_year'].unique()

array([   0., 2018., 2015., 2017., 2014., 2016., 2013.])

In [106]:
data_copy['cancellation_year'] = data_copy['cancellation_year'].astype(int)
data_copy['cancellation_year'].unique()

array([   0, 2018, 2015, 2017, 2014, 2016, 2013])

In [107]:
data_copy['cancellation_month'].unique()

array([ 0.,  1., 12.,  4.,  2.,  7., 11.,  5.,  6., 10.,  8.,  9.,  3.])

In [108]:
data_copy['cancellation_month'] = data_copy['cancellation_month'].astype(int)

In [110]:
data_copy.to_excel(r'C:\Users\ADMIN\Desktop\projects\Airline+Loyalty+Program\Cleaned Airline Flight History.xlsx',index= False)